/ProyectoFinal/kinectDataLibrary/build/
/ProyectoFinal/kinectDataLibrary/dist/
/ProyectoFinal/CppApplication_1/build/
/ProyectoFinal/labo3/build/
/ProyectoFinal/labo3/dist/
/ProyectoFinal/labo3-2/build/
/ProyectoFinal/labo4/build/
/ProyectoFinal/labo4/dist/
/ProyectoFinal/labo3x/build/