/ProyectoFinal/kinectDataLibrary/build/
/ProyectoFinal/kinectDataLibrary/dist/
/ProyectoFinal/CppApplication_1/build/
/ProyectoFinal/labo3/build/
/ProyectoFinal/labo3/dist/
/ProyectoFinal/labo3-2/build/
/ProyectoFinal/labo4/build/
/ProyectoFinal/labo4/dist/
/ProyectoFinal/labo3x/build/
/ProyectoFinal/listas/build/
/ProyectoFinal/listas/dist/
/ProyectoFinal/listaa1/build/
/ProyectoFinal/listaa1/dist/
/ProyectoFinal/listatem/build/
/ProyectoFinal/listatem/dist/
/ProyectoFinal/listaSimple/build/
/ProyectoFinal/listaSimple/dist/
/ProyectoFinal/listaDoble/build/
/ProyectoFinal/listaDoble/dist/
/ProyectoFinal/listaCircular/build/
/ProyectoFinal/listaCircular/dist/